table {
  table-layout: fixed;
  /* width: 200px; */
}

th,
td {
  width: 70px;
  overflow: hidden;
}

td:nth-child(1),
th:nth-child(1) {
  width: 150px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th:nth-child(5),
th:nth-child(5) {
  width: 100px !important;
}
